<template>
    <section class="service" id="sale">
        <div class="container">
            <div class="row">
                <div class="main_service text-center">
                    <div class="col-md-4 col-sm-6 col-xs-12">

                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <h2>Заказать</h2><br><br>
                        <label for="email">Email:</label><br>
                        <span class="error" v-if="errors.email">{{errors.email[0]}}</span>

                        <input type="text" name="email" class="form-control" v-model="data.email"><br>
                        <label for="phone">Телефон:</label><br>
                        <span class="error" v-if="errors.phone">{{errors.phone[0]}}</span>

                        <input type="text" name="phone" class="form-control" v-model="data.phone"><br>

                        <label for="type">Тип :</label><br>
                        <span class="error" v-if="errors.type">{{errors.type[0]}}</span>
                        <select name="type" class="form-control" v-model="data.type">
                            <option value="ssd1">SSD VPS 1</option>
                            <option value="ssd2">SSD VPS 2</option>
                            <option value="ssd3">SSD VPS 3</option>
                            <option value="ssd3">Hosting 1</option>
                            <option value="ssd3">Hosting 2</option>
                            <option value="ssd3">Hosting 3</option>
                        </select><br>
                        <span class="error" v-if="errors.comment">{{errors.comment[0]}}</span>
                        <label for="comment">Комментарий:</label><br>
                        <textarea name="comment" class="form-control" v-model="data.comment"></textarea><br>
                        <button class="btn btn-success" @click="send">Отправить</button>


                        <br>
                        <br>
                        <span>* После отправки мы с вами свяжемся и уточним все детали. Если вас все устроит, тогда мы предоставим вам доступы, после чего вы оплатите.</span>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">

                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data (){
            return {
                data: {
                    email: "",
                    phone: "",
                    type: "",
                    comment: "",
                },
                errors: {},
            };
        },

        methods: {
            send(){
                console.log(this.data)
                this.$http.post("/send", this.data).then(
                    res => {
                        location.href = '/'
                    },
                    err => {
                        this.errors = err.data.errors
                        console.log(err.data.errors)
                    }
                );
            }
        }

    }
</script>


<style>
    span.error{
        color: red;
    }
</style>
